.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header h1 {
  color:  #35074f;
  font-size: 5rem;
  font-weight: bolder;
}
.App-header {
  background-image: url('../images/headerimg.png');
  min-height: 15vh;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  border: #281533 outset 30px;
  padding:15px
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  border-color: #074f49;

} 
/* #281533; */
div .card {
  margin: 10vw;
  margin-top: .5vw;
  border: #281533 outset 30px ;
  background-color:#d2bddf;
  color: white;
  height: 100vh;
  padding:30px;
  color:  #35074f; 
}

.aboutme img {
  max-width: 80%;
  height: auto;
  border-radius: 15px;
  border-color:white ;
  border-width: 5px;
  border-style: solid;
}

.card h2{
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  margin:4rem;
  border-bottom-color: white;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}
.card p {
  font-size: 2rem;
  text-align:center;
}